<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CouponGoodsMapper">

    <!--表名 -->
    <sql id="tableName">
		SHOP_COUPONGOODS
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		COUPON_ID,	
		GOODS_ID,	
		GOODS_PRICE,	
		GOODS_NUM,	
		COUPONGOODS_ID
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{COUPON_ID},	
		#{GOODS_ID},	
		#{GOODS_PRICE},	
		#{GOODS_NUM},	
		#{COUPONGOODS_ID}
	</sql>

    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) values
        <foreach collection="list" item="goods" index="index" separator=",">
            (#{goods.COUPON_ID},#{goods.GOODS_ID},#{goods.GOODS_PRICE},#{goods.GOODS_NUM},#{goods.COUPONGOODS_ID})
        </foreach>
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from
        <include refid="tableName"></include>
        where
        COUPONGOODS_ID = #{COUPONGOODS_ID}
    </delete>

    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        COUPON_ID = #{COUPON_ID},
        GOODS_ID = #{GOODS_ID},
        GOODS_PRICE = #{GOODS_PRICE},
        GOODS_NUM = #{GOODS_NUM},
        COUPONGOODS_ID = COUPONGOODS_ID
        where
        COUPONGOODS_ID = #{COUPONGOODS_ID}
    </update>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        COUPONGOODS_ID = #{COUPONGOODS_ID}
    </select>
    <!-- 通过ID获取数据 -->
    <select id="findBygoodsIDAndCouponID" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        GOODS_ID = #{GOODS_ID} and COUPON_ID = #{COUPON_ID}
    </select>


    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
        select
        a.COUPON_ID,
        a.GOODS_ID,
        a.GOODS_PRICE,
        a.GOODS_NUM,
        a.COUPONGOODS_ID,
        b.GOODS_CODE,
        b.GOODS_NAME,
        b.GOODS_MODEL,
        substring_index(b.GOODS_PIC,',',1) as GOODS_PIC,
        c.CATEGORY_NAME
        from SHOP_COUPONGOODS a,SHOP_GOODS b,SHOP_CATEGORY c
        where a.GOODS_ID = b.GOODS_ID and b.GOODS_CATEGORY = c.CATEGORY_ID
        <!-- 关键词检索 -->
        <if test="pd.keywords!= null and pd.keywords != ''">
            and
            (
            b.GOODS_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            or
            b.GOODS_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            or
            b.GOODS_MODEL LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        <!-- 开始时间 -->
        <if test="pd.lastStart != null and pd.lastStart !=''">
            and b.ACTIVITY_DATE1 &gt;= #{pd.lastStart}
        </if>
        <!-- 结束时间 -->
        <if test="pd.lastEnd != null and pd.lastEnd !=''">
            and b.ACTIVITY_DATE1 &lt;= #{pd.lastEnd}
        </if>
        <!-- 优惠券 -->
        <if test="pd.COUPON_ID != null and pd.COUPON_ID !=''">
            and a.COUPON_ID = #{pd.COUPON_ID}
        </if>
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        COUPONGOODS_ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- da -->
</mapper>