<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PositionMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SHOP_POSITION
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		POSITION_NAME,	
		POSITION_WIDTH,	
		POSITION_HEIGHT,	
		POSITION_DESCRIBE,	
		POSITION_TEMPLATE,	
		POSITION_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{POSITION_NAME},	
		#{POSITION_WIDTH},	
		#{POSITION_HEIGHT},	
		#{POSITION_DESCRIBE},	
		#{POSITION_TEMPLATE},	
		#{POSITION_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			POSITION_ID = #{POSITION_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			POSITION_NAME = #{POSITION_NAME},
			POSITION_WIDTH = #{POSITION_WIDTH},
			POSITION_HEIGHT = #{POSITION_HEIGHT},
			POSITION_DESCRIBE = #{POSITION_DESCRIBE},
			POSITION_TEMPLATE = #{POSITION_TEMPLATE},
		POSITION_ID = POSITION_ID
		where 
		POSITION_ID = #{POSITION_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			POSITION_ID = #{POSITION_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		order by POSITION_TEMPLATE
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			POSITION_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- da -->
</mapper>